:root{
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--Paleblue);
}
article{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 0 auto;
    width: 75%;
    max-width: 375px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.card--image{
    width: 100%;
    height: 150px;
    background-image: url("./images/illustration-hero.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card h1{
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 900;
    color: var(--Dark-blue);
}
.card .text{
    margin: 0 25px;
    font-size: 1.3rem;
    color: var(--Desaturated-blue);
}
.plan{
    width: 80%;
    height: 60px;
    padding: 10px;
    background-color: var(--Very-pale-blue);
    border-radius: 9px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.icon-music{
    background-image: url(./images/icon-music.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    margin: 10px 0;
}
.plan-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    font-weight: 700;
    color: var(--Dark-blue);

}
.plan-text span{
    color: var(--Desaturated-blue);
    margin-top: 2px;
}
.card a{
    color: var(--Brightblue);
}
button{
    width: 80%;
    height: 40px;
    background-color: var(--Brightblue);
    color: #fff;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.card .cancel{
    width: 80%;
    height: 40%;
    margin: 20px auto;
    color: var(--Desaturated-blue);
    font-weight: 700;
    font-size: 1.4rem;
}
.attribution{
    color: var(--Desaturated-blue);
    margin: 20px 0;
}   